<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/nosotros.css">
    <title>SportClub Nosotros</title>
</head>
<body>
    <header>
        <div class="conteiner">
            <img src="https://empresas.sportclub.com.ar/_next/static/media/logo-sportclub-black.126e7e0d.webp" alt="">
            
            <input type="checkbox" id="menu-check">
            <label id="menu" for="menu-check">
                <span id="menu-abrir">&#9776</span>
                <span id="menu-cerrar">X</span>
            </label>
        
            <nav>
                <ul>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/templates/sedes.html">Conocé las sedes</a></li>
                    <li><a href="/templates/planes.html">Nuestros planes</a></li>
                    <li><a href="/templates/nosotros.html">Nosotros</a></li>
                    <li><a href="/templates/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="contTitulo">
            <div class="tituloPrincipal">
                <h1>Nosotros</h1>
                <p class="slogan">"Una vida más saludable comienza con el entrenamiento y <br> continua con acciones pioneras para el planeta y la sociedad".</p>
            </div>
        </section>
       
        <section class="secContenedor">
            <div class="subtitulo">
                <h2>Calidad de vida</h2>
                <p class="pSubtitulo">En SportClub nos encomendamos a  mejorar la calidad de vida de las personas a través de la actividad física, el desarrollo de vínculos sociales y la promoción de hábitos saludable.</p>
            </div>

            <div class="contCalidadVida">
                <div class="calidadVida">
                    <h3>Clases al aire Libre</h3>
                    <img src="/static/img/aire libre 1.jpg" alt="">
                    <p class="nota">Facilitamos el acercamiento a la actividad fisica a mas personas  realizando clases con acceso libres,  asi otorgando la oportunidad para iniciar una vida saludable.</p>   
                </div>
                      
                <div class="calidadVida"> 
                    <h3>Universidad</h3>  
                    <img src="/static/img/birrete.jpg" alt="">
                    <p class="nota">La formación y capacitación constante es uno de nuestros principales aportes  al crecimiento profesional de nuestros colaboradores, generar espacios de aprendizaje  que permitan adquirir mayores conocimientos  con el objetivo de otorgar  oportunidades de crecimiento en el futuro.</p>
                </div>

                <div class="calidadVida"> 
                    <h3>Entrenador personal</h3>   
                    <img src="/static/img/entrenador personal.png" alt="">
                    <p class="nota">Ofrecemos programas de entrenamiento adecuados  para cada socio  que lo requiera.</p>
                </div> 
            
                <div class="calidadVida"> 
                    <h3>Colectas</h3>
                    <img src="/static/img/colecta.jpg" alt="">
                    <p class="nota">La contribucion de buenas acciones realizando colectas con la finalidad de contribuir con sectores mas vulnerables, para la cual nuestras sedes son puntos de recoleccion, para que los socios acerquen sus donaciones.</p>
                </div>
            </div>
        </section>

        <section class="secContenedor1"> 
            <div class="subtitulo">
                <h2>Sustentabilidad</h2>
                <p class="pSubtitulo">Para que la sostenibilidad sea realidad  buscamos más oportunidades de mejora, y en este sitio podrás encontrar lo que estamos realizando para contribuir con la  preservación del medio ambiente.</p>
            </div>

            <div class="contSustentable">   
                <div class="cardSustentable">
                    <img src="/static/img/uniformes.png" alt="">
                    <h4>Uniformes Reutilizables</h4>
                    <p>Cuando un colaborador ya no forma parte de la empresa, regresa el uniforme, las piezas en buenas condiciones son entregadas a la operación. Reutilizar es una excelente forma de reducir las emisiones de carbono asociadas con la fabricación y transporte de nuevos productos.</p>
                </div>   
            
                <div class="cardSustentable" >
                    <img src="/static/img/luces led.jpg" alt="">
                    <h4>Luces Led</h4>
                    <p>Cambiar a tecnología led es una elección Smart, desde el punto de vista económico, como ambiental, en comparación con lamparas antiguas de halógeno, las de luz led tienen un consumo menor, además brindan una buena imagen en las unidades y generan mayor iluminación.</p>
                </div>   
                       
                <div class="cardSustentable">
                    <img src="/static/img/autom. aire acond.jpg" alt="">
                    <h4>Automatizacion de Aire acondicionado</h4>
                    <p>Gracias a este proceso se genera una contribución a la sostenibilidad ambiental al reducir el consumo de energía.</p>
                </div>
           
                <div class="cardSustentable">
                    <img src="/static/img/llave ahorradora.jpg" alt="">
                    <h4>Llaves ahorradoras de agua</h4>
                    <p>Adoptar práctivas y hábitos de conservación del agua es esencial para un futuro sostenible y saludable, gracias a estas llaves colocadas en duchas y lavamanos el consumo es menor.</p>
                </div>
            </div>
        </section>

        <section class="contValores"> 
            <div class="subtitulo">
                <h2 class="valores">Nuestros Valores</h2>
            </div>

            <div class="valores">   
                <ul>
                    <li>
                        <p>Nuestro compromiso con el cliente es el motor principal de nuestra gestión y trabajamos para ser reconocidos por nuestro alto estandar de calidad de servicio.</p>
                        <p>Respondemos oportuna, efectiva y amablemente a las necesidades de nuestros socios, desde el inicio.</p>
                        <p>Generamos e implementamos ideas creativas para dar lugar a nuevos desarrollos y procesos de la empresa.</p>
                        <p>Nos adaptamos y evolucionamos para asumir mayores desafíos.</p>
                        <p>Nos mantenemos a la vanguardia de los conocimientos técnicos y las tendencias de la industria para ser pioneros en el mercado.</p>
                    </li> 
                </ul>
            </div>
        </section>
    </main>
    <footer></footer>
    
</body>
</html>